$color-main-accent: #ff5253;
$color-main-white: #ffffff;
$color-main-dark: #363636;
$color-main-dark-30: rgba(54, 54, 54, 0.3);

$color-black-70: #727272;
$color-black-40: #a7a7a7;
$color-black-20: #bfc4c9;
$color-black-10: #ebebeb;
$color-black-5: #f9f9fa;

$gradient-primary: linear-gradient(231.58deg, #f83600 -53.35%, #f9d423 297.76%);

$max-width-page: 1110px;

$width-tablet-max: 1120px;
$width-mobile-max: 767px;
