@import '../../styles/style.scss';

$box-shadow: 0px 2px 4px rgba(191, 196, 201, 0.2), 0px 3px 4px rgba(191, 196, 201, 0.18),
  0px 1px 5px rgba(191, 196, 201, 0.24);

$line-height: 18px;
$height-title: calc($line-height * 3);
$height-author: calc($line-height * 2);

.bookCard {
  width: 190px;
  padding: 8px;
  border-radius: 10px;
  box-shadow: $box-shadow;
  background: $color-main-white;

  @media (max-width: $width-mobile-max) {
    width: 100%;
  }
}

.logo {
  width: 100%;
  height: 242px;

  @media (max-width: $width-mobile-max) {
    width: 174px;
    margin: 0 auto;
  }
}

.rating {
  @extend %text-body-small;
  height: 24px;
  margin-top: 16px;
  color: $color-black-40;
}

.title {
  display: flex;
  align-items: center;
  height: $height-title;
  margin-top: 16px;
  color: $color-main-dark;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.1px;

  // max lines - 3
  overflow: hidden;
  text-overflow: ellipsis;
  display: -moz-box;
  display: -webkit-box;
  box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-box-orient: vertical;
  line-clamp: 3;
  -webkit-line-clamp: 3;

  @media (max-width: $width-tablet-max) {
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
  }

  @media (max-width: $width-mobile-max) {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.1px;
  }
}

.author {
  display: flex;
  align-items: center;
  height: $height-author;
  color: $color-black-70;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.1px;

  // max lines - 2
  overflow: hidden;
  text-overflow: ellipsis;
  display: -moz-box;
  display: -webkit-box;
  box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-box-orient: vertical;
  line-clamp: 2;
  -webkit-line-clamp: 2;

  @media (max-width: $width-tablet-max) {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
  }

  @media (max-width: $width-mobile-max) {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.1px;
    text-transform: none;
  }
}

.button {
  margin: 18px 4px 8px;

  @media (max-width: $width-mobile-max) {
    margin-left: 0;
    margin-right: 0;
  }
}
