@import '../../styles/style.scss';

.formModal {
  width: 528px;
  padding: 48px 56px;
  border-radius: 16px;
  background: $color-main-white;
}

.headlines {
  margin-bottom: 32px;
}

.title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.1px;
}

.subTitle {
  margin-top: 8px;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.1px;
}

.footer {
  margin-top: 16px;
}
