.header {
    padding: 16px 24px;
    background: var(--primary-light-1);
}

.breadcrumb {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: var(--character-light-title-85);
}

.header-content {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;

    @media (max-width: 480px) {
        margin-top: 30px;
    }
}

.welcome-message {
    flex: 1 0;
    max-width: 1000px;
    margin-bottom: 6px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 38px;
    line-height: 130%;
    color: var(--character-light-title-85);

    @media (max-width: 992px) {
        font-weight: 500;
        font-size: 24px;
    }

    @media (max-width: 480px) {
        font-size: 20px;
        font-weight: 500;
    }
}

.ant-btn.settings {
    margin-top: -6px;
    margin-right: 18px;

    @media (max-width: 480px) {
        margin-right: 0;
    }
}

.anticon.settings-icon {
    display: inline-block;

    @media (max-width: 992px) {
        display: none;
    }

    @media (max-width: 480px) {
        display: inline-block;
    }
}
