@import '../../styles/style.scss';

$box-shadow: 0px 2px 4px rgba(191, 196, 201, 0.2), 0px 3px 4px rgba(191, 196, 201, 0.18),
  0px 1px 5px rgba(191, 196, 201, 0.24);

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 350px;
  height: 38px;
  padding: 0 16px;
  background: $color-main-white;
  box-shadow: $box-shadow;
  border-radius: 60px;

  @media (max-width: $width-tablet-max) {
    width: 274px;
  }

  @media (max-width: $width-mobile-max) {
    width: auto;
    height: 32px;
    padding: 0 8px;

    &.searching {
      width: 100%;
      padding: 0 16px;
    }
  }
}

.button {
  width: 16px;
  height: 16px;
  border: none;
  background: transparent;
}

.searchButton {
  display: block;

  @media (max-width: $width-mobile-max) {
    cursor: pointer;

    .searching & {
      display: none;
    }
  }
}

.searchIcon {
  fill: $color-black-40;

  .search:focus-within & {
    fill: #f83600;
  }
}

.closeButton {
  display: none;

  @media (max-width: $width-mobile-max) {
    .searching & {
      display: block;
    }
  }
}

.input {
  @extend %text-body-small;
  flex: 1 0 auto;
  border: none;
  outline: none;
  color: $color-black-40;
  caret-color: #f83600;

  @media (max-width: $width-mobile-max) {
    display: none;

    .searching & {
      display: block;
    }
  }

  &::placeholder {
    color: $color-black-40;
  }
}
