@import '../../styles/style.scss';

.bookSwiper {
  width: 100%;
}

.mainSlide {
  width: 100%;
  height: 594px;
  border: 1px solid $color-black-40;
  border-radius: 10px;

  @media (max-width: $width-tablet-max) {
    height: 198px;
  }

  @media (max-width: $width-mobile-max) {
    height: 260px;
  }

  & img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: contain;
  }
}

.thumbsSwiper {
  @media (max-width: $width-tablet-max) {
    display: none !important;
  }
}

.thumbsSlide {
  border: 1px solid $color-black-20;
  border-radius: 3px;

  & img {
    width: 65px;
    height: 86px;
    object-fit: contain;
  }
}

.scrollbar {
  position: static !important;
  margin-top: 8px;

  div:first-child {
    display: none !important;
  }
}
